<div>
	<% if @task.errors.any? %>
		<ul>
			<% @task.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<h3>Add new Task</h3>
		<%= form_for(@task) do |f| %>
		<%= f.label :description %>
		<%= f.text_field :description %>
		<%= collection_select(:user, :user_id, User.all, :id, :name) %>
		<%= f.submit "Create Task"%>
	<% end %>
</div>
