<div>
	<h2> Here are your task details! </h2>
	<h3> 
		<%= @task.id %>)
		<%= @task.description %>
	</h3>
	Current Task State : 
	<span id="state">
		<strong><%= @task.state %></strong>
	</span>
	<br>
	<br>
	Change the state of Task:
	<%= button_to "open", update_state_path({id: @task.id, state: "open" }), remote: true, date:{type: 'script'}, method: :post%>
	<%= button_to "in progress", update_state_path({id: @task.id, state: "in_progress" }), remote: true, date:{type: 'script'}, method: :post%>
	<%= button_to "Done", update_state_path({id: @task.id, state: "done" }), remote: true, date:{type: 'script'}, method: :post%>
	

	<%= link_to 'Edit', edit_task_path(@task) %>
</div>
