<div>
	<% if @user.errors.any? %>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>

	<h3>Add new User</h3>
	<%= form_for(@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create user"%>
	<% end %>
</div>
